
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.AssemblyInfo.cs
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.assets.cache
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.AssemblyInfoInputs.cache
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.csprojAssemblyReference.cache
MAS.Hackathon.BackEnd/obj/MAS.Hackathon.BackEnd.csproj.nuget.dgspec.json
MAS.Hackathon.BackEnd/obj/MAS.Hackathon.BackEnd.csproj.nuget.g.props
MAS.Hackathon.BackEnd/obj/MAS.Hackathon.BackEnd.csproj.nuget.g.targets
MAS.Hackathon.BackEnd/obj/project.assets.json
MAS.Hackathon.BackEnd/obj/project.nuget.cache
