
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.AssemblyInfo.cs
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.assets.cache
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.AssemblyInfoInputs.cache
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.csprojAssemblyReference.cache
MAS.Hackathon.BackEnd/obj/MAS.Hackathon.BackEnd.csproj.nuget.dgspec.json
MAS.Hackathon.BackEnd/obj/MAS.Hackathon.BackEnd.csproj.nuget.g.props
MAS.Hackathon.BackEnd/obj/MAS.Hackathon.BackEnd.csproj.nuget.g.targets
MAS.Hackathon.BackEnd/obj/project.assets.json
MAS.Hackathon.BackEnd/obj/project.nuget.cache
MAS.Hackathon.BackEnd/bin/Debug/netcoreapp3.1/appsettings.Development.json
MAS.Hackathon.BackEnd/bin/Debug/netcoreapp3.1/appsettings.json
MAS.Hackathon.BackEnd/bin/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.deps.json
MAS.Hackathon.BackEnd/bin/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.dll
MAS.Hackathon.BackEnd/bin/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.exe
MAS.Hackathon.BackEnd/bin/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.pdb
MAS.Hackathon.BackEnd/bin/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.runtimeconfig.dev.json
MAS.Hackathon.BackEnd/bin/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.runtimeconfig.json
MAS.Hackathon.BackEnd/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
MAS.Hackathon.BackEnd/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
MAS.Hackathon.BackEnd/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
MAS.Hackathon.BackEnd/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
MAS.Hackathon.BackEnd/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
MAS.Hackathon.BackEnd/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.csproj.CopyComplete
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.csproj.CoreCompileInputs.cache
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.csproj.FileListAbsolute.txt
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.dll
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.exe
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.genruntimeconfig.cache
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.MvcApplicationPartsAssemblyInfo.cache
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.pdb
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.MvcApplicationPartsAssemblyInfo.cs
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/MAS.Hackathon.BackEnd.RazorTargetAssemblyInfo.cache
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/staticwebassets/MAS.Hackathon.BackEnd.StaticWebAssets.Manifest.cache
MAS.Hackathon.BackEnd/obj/Debug/netcoreapp3.1/staticwebassets/MAS.Hackathon.BackEnd.StaticWebAssets.xml
